.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1f1f1f;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-radius: 0 0 20px 20px;
}

.logo a {
    text-decoration: none;
    color: #99691b;
    font-size: 1.5em;
    font-weight: bold;
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.navigation a {
    text-decoration: none;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.navigation a:hover {
    background-color: #99691b;
    color: #121212;
}