body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;

    padding-left: 20px;
    padding-right: 20px;
}

content {
    display: flex;
    justify-content: center;
    height: 100vh;
}

section {
    margin-top: 20px;
    background-color: rgba(156, 153, 148,0.1);
    padding: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    max-width: 1200px;
}